<div class="container">
  <h5 class="hh-subtitle">{{widget.configuration.hashtag}}</h5>

  <div class="row">
    {{#if widget.records.length}}
      {{#each widget.records}}
        <div class="col-md-3">
          <a href="/history/{{id}}">
            <div class="thumbnail">
              {{#if featuredImage}}
                {{we-image featuredImage 'medium' class="hhc-image"}}
              {{else}}
                <img alt="{{title}}" src="/public/project/logo-t-1_250x250.png" class="hhc-image">
              {{/if}}
              <div class="caption">
                <h3>{{title}}</h3>
                <p>{{categoryItem}}</p>
              </div>
            </div>
          </a>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>