<div class="social-links-area text-center">{{we-menu menuSocial class="list-inline icon-style-1"}}
</div>

<footer>
  <div class="container">
    <div class="row text-left">
      <div class="col-md-4">
        <div class="footer-item-1">
          <ul class="list-inline footer-left-menu">
            <li><a href="/terms-of-use">Termos de uso</a></li>
            <li><a href="/site-contact">Contato</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 text-left">
        Uma iniciativa para ajudar as pessoas a lidar com o auto-isolamento durante o surto de COVID-19 no contexto do #Hackcovid19.
      </div>
      <div class="col-md-4 footer-logos text-right">
        Desenvolvido e utilizando tecnologia da Linky
      </div>

      <div class="col-md-12 text-center">
        <hr>
         <a href="https://linkysystems.com" target="_blank"><img src="https://linkysystems.com/favicon.ico" alt="Linky" /></a>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3 text-center">
        <hr>
        <p>{{{req.we.systemSettings.siteFooter}}}<p>
      </div>
    </div>
    <br>
  </div>
</footer>

{{{render-bootstrap-config}}}
{{{render-javascript-tags 'footer'}}}
{{{render-client-component-templates}}}
